/* File includes styles of elements */

/* Reset */
div, span, a, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, blockquote, fieldset, dl, dt, dd, caption, img, input, table, tr, td, textarea {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
}


/* Images */
img { border: 0; }

/* Headers */
h1, h2, h3, h4, h5 {
	color: #fff;
	font-family: Georgia, serif;
	font-weight: normal;
	margin: 0 0 1em 0;
}

h1 { font-size: 10em; }


/* Sprites */
.sprite { background: url("/i/sprites.png") 0 0 no-repeat transparent; }

.sprite.mario {
	height: 32px;
	width: 32px;
	margin: 0 auto;
	background-position: 0 0;
}

.sprite.land {
	height: 64px;
	background-position: 0 -96px;
	background-repeat: repeat-x;
}
