/* File includes styles of elements */

/* Reset */
div, span, a, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, blockquote, fieldset, dl, dt, dd, caption, img, input, table, tr, td, textarea {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}


/* Images */
img { border: 0; }

/* Headers */
h1, h2, h3, h4, h5 {
	color: #fff;
	font-family: Georgia, serif;
	font-weight: normal;
	margin: 1em 0;
}

h1 { font-size: 5em; }

p.greetings {
	font-family: Georgia, serif;
	font-size: 3em;
}

/* Sprites */
.mario {
	height: 80px;
	width: 75px;
	background: url("/i/mario.png") 0 0 no-repeat transparent;
	margin: 0 auto;
}

.land {
	height: 160px;
	background: url("/i/land.png") 0 0 repeat transparent;
}
/* /Sprites */
