html,
	body { height: 100%; }

	body {
		font: normal 12px/1.4em Arial, sans-serif;
		color: #fff;
		min-width: 980px;
		background-color: #548cff;
	}
		.wrapper {
			height: auto !important;
			height: 100%;
			margin: 0 auto;
			min-height: 100%;
			z-index: 1;
			padding: 0 40px;
		}
			.body { padding: 60px 0 128px 0; }

		.footer {
			height: 96px;
			z-index: 2;
			margin: -96px 0 0;
		}
